<%- include('../public/header.html') %>

    <body>
        <!-- <form action="/api/login" method="post" onsubmit="return login()"> -->
        <!-- <form action="/api/login" method="post" onsubmit=""> -->
        <div>
            <input type="text" name="name" id="name" placeholder="账号">
        </div>
        <div>
            <input type="password" name="psd" id="psd" placeholder="密码">
        </div>
        <button onclick="login()">提交</button>
        <!-- <button type="submit">提交</button> -->
        <!-- </form> -->

    </body>
    <%- include('../public/footer.html') %>
        <script src="/js/user.js"></script>